.about-us-section {
    background-color: #fff;
  }
  
  .section-title {
    font-size: 2.2rem;
    font-weight: 800;
    color: #d32f2f;
  }
  
  .about-us-section p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 1rem;
  }
  .highlight {
    color: #d32f2f;
    font-weight: 700;
  }
  